* {
    box-sizing: border-box;
  }
body {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
h1 {
   text-align: center;
   font-style: italic;
}
.lists {
    color: #00008f;
    border-bottom: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#divider {
  border: 1px solid grey;
  margin: 20px
}